body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#333333;
}
#container{
    width: 80%;
    margin: auto;
}
h1,h2,h3{
    background: #cccccc;
}
.titol_destacat{
    font-size: 2em;
}
a{
    color: #02a824;
    text-decoration: none;
}
a.estil2{
    text-decoration: underline;
}
.estil2{
    color:#b80312;
}
strong{
    color:#be0380;
}
.paragraf2 strong{
    color:#010b99;
}
.color_lila{
    color:#800199;
}